body{

    margin: 100;

}
#body {
    background-image: url("../suhaad/img/bg584.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;

}
#body-overlay {
	position: absolute;
	background-color: rgba(0,0,0,1.5)
	top:0;
	bottom: 0;
	height: 100%
	width: 100%
	z-index:-5;
    opacity: 0.5;
    filter: alpha(opacity=50)
}